.intro {
	position: relative;
	height: vc(1051);

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		margin: 0 auto;
		transition: all 0.5s $easing-smooth;

		@include mobile {
			top: 0;
			width: 100%;
			height: vc(470);
		}
	}

	&::before {
		@include desktop {
			width: 100vw;
			height: vc(2084);
			background: url("../images/04_backgrounds/bg_light@2x.jpg") center center no-repeat;
			background-size: cover;
		}

		@include mobile {
			top: vc(261);
			height: vc(600);
			background: url("../images/03_images/@2x/home_m_light@2x.jpg") center bottom no-repeat;
			background-size: cover;
		}
	}

	&::after {
		opacity: 0;

		@include desktop {
			width: 100vw;
			height: vc(2084);
			background: url("../images/04_backgrounds/bg_dark@2x.jpg") center center no-repeat;
			background-size: cover;
		}

		@include mobile {
			height: vc(600);
			background: url("../images/03_images/@2x/home_m_dark@2x.jpg") center bottom no-repeat;
			background-size: cover;
		}
	}

	&__bg {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;

		&::before,
		&::after {
			@include desktop {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				margin: 0 auto;
				transition: all 0.5s $easing-smooth;
			}
		}

		&::before {
			@include desktop {
				width: 51vw;
				height: 71vw;
				background: url("../images/03_images/@2x/main_light@2x.png") right top no-repeat;
				background-size: contain;

				@include laptop {
					border-radius: 30% 0 0 26%;
					background-size: cover;
				}

				@include desktop-xl {
					width: vc(828);
					height: vc(971);
				}

				@include desktop-xl {
					width: vc(977);
				}
			}

			@include mobile {
				background: url("../images/jpg@2x/background-image_l@2x.jpg") center center no-repeat;
				background-size: contain;
			}
		}

		&::after {
			opacity: 0;

			@include desktop {
				border-radius: 40% 0 0;
				width: 56.5vw;
				height: 70vw;
				background: url("../images/03_images/@2x/main_dark@2x.jpg") center right no-repeat;
				background-size: contain;

				@include desktop-xl {
					width: vc(917);
					height: vc(1146);
				}
			}

			@include mobile {
				background: url("../images/jpg@2x/background-image_d@2x.jpg") center center no-repeat;
				background-size: contain;
			}
		}
	}

	&__container {
		position: relative;
		z-index: 4;
	}

	&__left {
		@include desktop {
			width: vc(536);
		}
	}

	&__title {
		padding: vc(312) 0 vc(67);

		@include mobile {
			padding-top: vc(116);
			padding-bottom: vc(30);
		}
	}

	&__description {
		margin-bottom: vc(44);

		@include mobile {
			margin-bottom: vc(24);
		}
	}

	&__buttons {
		@include desktop {
			display: flex;
		}
	}

	&__button {
		&--1 {
			margin-right: vc(32);
			background: $color-theme;

			@include mobile {
				margin-bottom: vc(16);
			}
		}

		&--2 {
			box-shadow: 0 8px 8px -4px rgba(69, 121, 245, 0.06), 0 2px 4px -1px rgba(27, 10, 82, 0.06), 0 0 1px 0 rgba(69, 121, 245, 0.12);
			color: $color-theme;
			background: $color-white;
		}
	}

	&__right {
		position: relative;

		@include mobile {
			display: flex;
			margin-top: vc(37);
			width: vc(936);
			transform: translateX(-33.4%);
		}
	}

	&__item {
		flex-shrink: 0;
		overflow: hidden;
		margin: 0 vc(198) vc(377) 0;
		border-radius: 40px;
		padding: vc(8) vc(8) vc(24);
		width: vc(312);
		height: vc(408);
		box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.06), -4px -4px 8px 0 rgba(255, 255, 255, 0.4), 0 1px 1px 0 rgba(9, 13, 20, 0.06);
		background-image: linear-gradient(143deg, #fff, #fafbfc 52%, #f5f7fa);

		&--1 {
			left: vc(47);
			top: vc(505);
			z-index: 3;
			transform: rotate(-6.7deg);
		}

		&--2 {
			left: vc(221);
			top: vc(287);
			z-index: 2;
			transform: rotate(16.3deg);
		}

		&--3 {
			left: vc(22);
			top: vc(130);
			z-index: 1;
			transform: rotate(7.3deg);
		}

		.is-white & {
			border: solid 1px rgba(245, 247, 250, 0.06);
			box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
			background-image: linear-gradient(143deg, rgba(245, 247, 250, 0.12), rgba(245, 247, 250, 0.06) 52%, rgba(245, 247, 250, 0));
			backdrop-filter: blur(40px);
		}

		@include desktop {
			position: absolute;
		}

		@include mobile {
			margin: 0 auto;

			&--1 {
				order: 2;
			}

			&--2 {
				order: 2;
				transform: rotate(16.3deg) translateX(-51px) translateY(44px);
			}

			&--3 {
				order: 1;
				transform: rotate(7.3deg) translateX(26px) translateY(-4px);
			}
		}
	}

	&__image {
		position: relative;
		margin: 0 0 vc(20);
		width: vc(296);
		height: vc(296);

		img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border-radius: 32px;
			transition: opacity 0.5s $easing-smooth;

			&:last-child {
				opacity: 0;
			}

			.is-white & {
				&:first-child {
					opacity: 0;
				}

				&:last-child {
					opacity: 1;
				}
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: flex-start;
		padding: 0 vc(13);
		font-family: $font-Montserrat;
	}

	&__info {
		margin-right: vc(10);
	}

	&__subtitle {
		margin: 0 0 vc(4);
		font-weight: 600;
		font-size: vc(16);
		line-height: vc(24);
	}

	&__subtext {
		width: vc(194);
		font-weight: 500;
		font-size: vc(13);
		line-height: vc(16);
	}

	@include mobile {
		height: auto;
	}
}
