.top-collections {
	&__content {
		@include desktop {
			margin-top: vc(41);
			border: solid 1px rgba(245, 247, 250, 0.06);
			border-radius: 40px;
			padding: 0 vc(16) vc(24);
			width: vc(1320);
			box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
			background-image: linear-gradient(123deg, rgba(245, 247, 250, 0.12), rgba(245, 247, 250, 0.06) 52%, rgba(245, 247, 250, 0) 100%);
			background-color: $color-white;
			backdrop-filter: blur(40px);

			.is-white & {
				background-color: transparent;
			}
		}

		@include mobile {
			margin-top: vc(24);
			margin-right: vc(-16);
			margin-left: vc(-16);
			border-radius: 0 0 40px 40px;
			padding-top: vc(22);
			padding-bottom: 33px;
			box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
			background-color: $color-white;

			.is-white & {
				border-radius: 40px;
				box-shadow: 0 0 8px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
				background-image: linear-gradient(159deg, rgba(245, 247, 250, 0.12), rgba(245, 247, 250, 0.06) 52%, rgba(245, 247, 250, 0) 100%);
				background-color: transparent;
				backdrop-filter: blur(40px);
			}
		}
	}

	&__items {
		@include mobile {
			padding: 0 vc(16);
		}
	}

	&__item {
		display: flex;
		border-bottom: solid 1px rgba(20, 16, 41, 0.24);
		padding: vc(12) 0;

		&:last-child {
			border-bottom: none;
		}

		&--top {
			text-transform: uppercase;
		}

		.is-white & {
			border-bottom: solid 1px rgba(224, 224, 255, 0.24);
		}

		@include mobile {
			flex-wrap: wrap;
			padding-bottom: vc(17);
		}
	}

	&__col {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-left: vc(32);

		&--first {
			justify-content: flex-end;
			margin-left: 0;
			width: vc(86);

			svg {
				width: vc(24);
				height: vc(24);
				opacity: 0.87;
			}
		}

		@include desktop {
			&--1 {
				margin-right: vc(16);
				margin-left: 0;
				width: vc(63);
			}

			&--2 {
				justify-content: flex-start;
				margin-left: 0;
				width: vc(328);
			}

			&--image {
				width: vc(335);
			}

			&--3 {
				width: vc(80);
			}

			&--4 {
				width: vc(200);
			}

			&--5 {
				width: vc(168);
			}

			&--6 {
				width: vc(120);
			}

			&--7 {
				width: vc(120);
			}
		}

		@include mobile {
			flex-shrink: 0;
			margin-left: 0;
			white-space: nowrap;

			&--voll {
				order: 2;
				width: 50%;
				text-align: right;
			}

			&--1 {
				display: block;
				order: 3;
				margin-right: vc(21);
				padding-left: 9px;
				text-align: left;
			}

			&--2 {
				justify-content: flex-start;
				margin-left: 0;
			}

			&--image {
				order: 1;
				width: 50%;
			}

			&--3 {
				justify-content: flex-start;
				order: 4;
				width: 38%;
				text-transform: uppercase;

				.top-collections__text--bold {
					padding-right: 5px;
					font-family: $font-Gilroy;
					color: rgba(20, 16, 41, 0.6);

					.is-white & {
						color: $color-white;
					}
				}
			}

			&--4 {
				order: 5;
				width: 48.5%;
			}

			&--5 {
				order: 6;
			}

			&--6 {
				order: 7;
				margin: 0 8px;
			}

			&--7 {
				order: 8;
			}

			&--5,
			&--6,
			&--7 {
				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: center;
				margin-top: 12px;
				border-radius: 12px;
				padding: 12px 0;
				width: 104px;
				height: 64px;
				text-align: center;
				background-color: rgba(20, 16, 41, 0.04);

				.top-collections__text {
					&:first-child {
						font-size: 16px;
						line-height: 20px;
					}
				}

				.is-white & {
					background-color: rgba(224, 224, 255, 0.04);
				}
			}
		}
	}

	&__image {
		flex-shrink: 0;
		margin-right: vc(16);
		width: vc(48);
		height: vc(48);

		img {
			border-radius: 12px;
		}

		@include mobile {
			margin-right: vc(12);
			width: 24px;
			height: 24px;

			img {
				border-radius: 8px;
			}
		}
	}

	&__text {
		display: flex;
		align-items: center;
		font-family: $font-Gilroy;
		font-weight: 600;
		font-size: vc(14);
		line-height: vc(24);

		&--bold {
			font-family: $font-Montserrat;
			font-weight: 700;
		}

		&--title {
			font-family: $font-Montserrat;
		}

		&--last {
			justify-content: flex-end;
			width: vc(100);
		}

		&--red {
			color: $color-error;
		}

		&--green {
			color: $color-wave2;
		}

		&--red,
		&--green {

		}

		&--voll {
			font-family: $font-Montserrat;
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			color: rgba(20, 16, 41, 0.6);

			.is-white & {
				color: $color-white;
			}
		}

		&--padding {
			margin-left: vc(56);
		}

		@include mobile {
			font-size: 13px;
			line-height: 20px;

			.top-collections__col--image & {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: vc(25);

		@include mobile {
			flex-flow: column;
			margin-top: vc(16);
		}
	}

	@include mobile {
		margin-top: 50px;
	}
}
