.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 20;
	overflow-y: auto;

	&__inner {
		position: relative;
		z-index: 1;
		margin: vc(72) auto;
		border-radius: 40px;
		padding: vc(40) vc(8) vc(38);
		box-shadow: 0 1px 1px rgba(9, 13, 20, 0.06), -4px -4px 8px rgba(255, 255, 255, 0.4), 8px 8px 24px rgba(9, 13, 20, 0.06);
		background: linear-gradient(135deg, #fff 0%, #fafbfc 51.82%, #f5f7fa 100%);

		&--1 {
			max-width: vc(536);
		}

		&--2 {
			max-width: vc(424);
		}

		@include isWhite {
			border: 1px solid rgba(245, 247, 250, 0.06);

			/* Note: backdrop-filter has minimal browser support */

			border-radius: 40px;
			box-shadow: 0 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
			background: linear-gradient(90deg, #3a3c42 0%, #2d3035 50.01%, #212429 100%);
			backdrop-filter: blur(40px);
		}

		@include mobile {
			margin-top: 0;
			background: linear-gradient(135deg, #FFFFFF 0%, #FAFBFC 51.82%, #F5F7FA 100%);
			box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.06), -4px -4px 8px rgba(255, 255, 255, 0.4), 8px 8px 24px rgba(9, 13, 20, 0.06);
			border-radius: 40px 40px 0px 0px;
			overflow: hidden;
		}
	}

	&__bg {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		backdrop-filter: blur(40px);

		@include mobile {
			backdrop-filter: blur(20px);
		}
	}

	&__close {
		position: absolute;
		right: vc(46);
		top: vc(46);
		width: vc(24);
		height: vc(24);
		opacity: 0.24;
		cursor: pointer;

		svg {

		}

		&--2 {
			right: vc(47);
			top: vc(52);
		}
	}

	&__title {
		margin-bottom: vc(24);
		padding: 0 vc(32);
		font-family: $font-Poppins;
		font-weight: 700;
		font-size: vc(30);
		line-height: vc(36);
		letter-spacing: -1px;
	}

	&__description {
		margin-bottom: vc(40);
		padding: 0 vc(32);
		width: vc(364);
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(28);
		color: rgba(20, 16, 41, 0.6);

		@include isWhite {
			color: #e0e0ff;
			opacity: 0.6;
		}
	}

	&__items {

	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: vc(8);
		border-radius: 24px;
		padding: vc(16) vc(32);
		background: rgba(20, 16, 41, 0.04);

		&:last-child {
			margin-bottom: vc(18);
		}

		&.is-disabled {
			opacity: 0.24;
		}

		@include isWhite {
			background: rgba(224, 224, 255, 0.04);
		}
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__social {
		margin-right: vc(16);
		width: vc(32);
		height: vc(32);

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		font-weight: 600;
		font-size: vc(16);
		line-height: vc(24);
	}

	&__stext {
		border-radius: 24px;
		padding: vc(4) vc(8);
		font-weight: 600;
		font-size: vc(px);
		line-height: vc(16);
		background: rgba(0, 187, 255, 0.03);

		&--blue {
			color: #0bf;

			@include isWhite {
				color: #0fa;
				background: rgba(0, 255, 170, 0.03);
			}
		}

		@include isWhite {
			color: rgba(224, 224, 255, 0.8);

			&--blue {
				color: #0fa;
				background: rgba(0, 255, 170, 0.03);
			}
		}
	}

	&__right {

	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: vc(24);
		padding: 0 vc(21);
	}

	&__profile {
		display: flex;
		align-items: center;
		margin-right: vc(24);
		border-radius: vc(12);
		padding: vc(12) vc(24) vc(12) vc(12);
		font-family: $font-space;
		font-weight: 700;
		font-size: vc(16);
		line-height: vc(24);
		background: rgba(235, 239, 245, 0.6);

		.popup__icon {

		}

		@include isWhite {
			background: rgba(9, 13, 20, 0.4);
		}
	}

	&__icon {
		margin-right: vc(12);
		width: vc(24);
		height: vc(24);

		img,
		svg {
			width: 100%;
			height: 100%;
		}

		&--none {
			margin: 0;
		}
	}

	&__massage {
		border-radius: vc(12);
		padding: vc(12);
		background: rgba(20, 16, 41, 0.04);

		@include isWhite {
			background: rgba(224, 224, 255, 0.04);
		}
	}

	&__link {
		display: flex;
		align-items: center;
		border-radius: 24px;
		padding: vc(12) vc(29);
		font-weight: 600;
		font-size: vc(14);
		line-height: vc(24);

		&:hover {
			background: rgba(20, 16, 41, 0.04);
		}

		@include isWhite {
			&:hover {
				background: rgba(224, 224, 255, 0.04);
			}
		}
	}

	&__import {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: vc(16) auto vc(32);
		border-radius: 12px;
		padding: vc(12) 0;
		width: vc(360);
		font-weight: 600;
		font-size: vc(16);
		line-height: vc(24);
		background: rgba(20, 16, 41, 0.04);

		svg {
			margin-right: vc(12);
			width: vc(24);
			height: vc(24);
		}

		@include isWhite {
			background: rgba(224, 224, 255, 0.04);
		}

		@include mobile {
			width: vc(296);
		}
	}

	&__info {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: vc(32) vc(27) vc(24) vc(13);

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: 0 auto;
			border-top: 1px solid rgba(20, 16, 41, 0.24);
			width: vc(360);

			@include isWhite {
				border: 1px solid rgba(224, 224, 255, 0.24);
			}
		}

		svg {
			width: vc(24);
			height: vc(24);
		}
	}

	&__tabs {
		position: relative;
		display: flex;
		border-radius: 12px;
		padding: 2px;
		width: vc(305);
		height: vc(48);
		box-shadow: inset 0 1px 1px rgba(9, 13, 20, 0.06), inset -4px -4px 8px rgba(255, 255, 255, 0.4), inset 8px 8px 40px rgba(9, 13, 20, 0.06);
		background: linear-gradient(180deg, #ebeff5 0%, #f5f7fa 52.98%, #fff 100%);

		&::after {
			content: "";
			position: absolute;
			left: 0;
			border: 1px solid rgba(33, 36, 41, 0.06);
			border-radius: 10px;
			width: vc(154);
			height: vc(44);
			box-shadow: 0 1px 1px rgba(9, 13, 20, 0.06), -4px -4px 8px rgba(255, 255, 255, 0.4), 8px 8px 24px rgba(9, 13, 20, 0.06);
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(250, 251, 252, 0.6) 51.82%, rgba(245, 247, 250, 0.4) 100%);
			backdrop-filter: blur(108.731px);
		}

		@include isWhite {
			border-radius: 12px;
			box-shadow: inset 0 1px 1px rgba(9, 13, 20, 0.4), inset -4px -4px 8px rgba(224, 224, 255, 0.04), inset 8px 8px 40px rgba(9, 13, 20, 0.4);
			background: linear-gradient(180deg, #090d14 0%, #282a2e 52.98%, #2d2f33 100%);

			&::after {
				border: 1px solid rgba(245, 247, 250, 0.06);
				box-shadow: 0 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
				background: linear-gradient(180deg, rgba(245, 247, 250, 0.24) 0%, rgba(245, 247, 250, 0.12) 52.14%, rgba(245, 247, 250, 0.0001) 100%);
			}
		}
	}

	&__ntabs {
		position: relative;
		z-index: 1;
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(28);

		svg {
			margin-left: vc(10);
		}

		&.is-active {
			font-weight: 500;
		}
	}

	&__external {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 12px;
		width: vc(48);
		height: vc(48);
		background: rgba(20, 16, 41, 0.04);
	}

	&__content {

	}

	&__tab {

	}

	&__elem {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: vc(8);
		border-radius: 24px;
		padding: vc(12) vc(35) vc(12) vc(29);
		font-weight: 600;
		font-size: vc(14);
		line-height: vc(24);
		background: rgba(20, 16, 41, 0.04);

		@include isWhite {
			background: rgba(224, 224, 255, 0.04);
		}
	}

	&__name {

	}

	&__price {
		font-family: $font-Gilroy;
	}

	&__stitle {
		position: relative;
		margin-bottom: vc(16);
		padding: vc(32) vc(24) 0;
		font-weight: 600;
		font-size: vc(20);
		line-height: vc(28);
		letter-spacing: -0.4px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: 0 auto;
			border-top: 1px solid rgba(20, 16, 41, 0.24);
			width: vc(360);

			@include isWhite {
				border: 1px solid rgba(224, 224, 255, 0.24);
			}
		}
	}

	&__convert,
	&__disconect {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: vc(16) auto vc(32);
		border-radius: vc(12);
		padding: vc(12) 0;
		width: 360px;
		font-weight: 600;
		font-size: vc(16);
		line-height: vc(24);
		color: #0bf;
		background: rgba(0, 187, 255, 0.03);

		@include isWhite {
			color: #0fa;
			background: rgba(0, 255, 170, 0.03);
		}
	}

	&__disconect {
		margin-bottom: 0;
		color: #f54562;
		background: rgba(245, 69, 98, 0.03);

		@include isWhite {
			color: #f54562;
			background: rgba(245, 69, 98, 0.03);
		}
	}
}
