.brand {
	margin-top: 144px;
	img {
		width: 100%;
		height: 100%;
		transform: translateZ(0);
	}

	&__top {
		margin-bottom: 76px;
		border-bottom: solid 1px rgba(20, 16, 41, 0.24);
		padding-bottom: 47px;

		@include isWhite {
			border-bottom: solid 1px rgba(224, 224, 255, 0.24);
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -1px;
	}

	&__download {
		display: inline-flex;
		align-items: center;
		border-radius: 12px;
		padding: 8px 16px 8px 8px;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		background-color: #f5f7fa;

		svg {
			margin: 0 8px 0 0;
			width: 24px;
			height: 24px;
		}

		&--icons {
			padding: 8px 24px;

			svg {
				margin-right: 0;
			}
		}

		@include isWhite {
			background-color: #2d2f33;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 32px;
		margin-bottom: 72px;

		&--2 {
			margin-bottom: 24px;
		}
	}

	&__logos {
		border-radius: 40px;
		padding: 24px;
		box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
		background-color: #fff;

		&-in {
			display: flex;
			height: 304px;

			&--center {
				flex-flow: column;
				align-items: center;
				justify-content: center;
			}
		}

		&-footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-text {
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			color: rgba(20, 16, 41, 0.8);

			span {
				display: block;
				font-family: $font-Gilroy;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				color: rgba(20, 16, 41, 0.6);
			}

			@include isWhite {
				color: $color-white;

				span {
					color: $color-white;
				}
			}
		}

		&--1 {
			width: 536px;
			height: 392px;
		}

		&--2 {
			width: 424px;
			height: 392px;
		}

		&--3 {
			width: 312px;
			height: 392px;
		}

		@include isWhite {
			border: solid 1px rgba(245, 247, 250, 0.06);
			box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
			background-image: linear-gradient(126deg, rgba(245, 247, 250, 0.12), rgba(245, 247, 250, 0.06) 52%, rgba(245, 247, 250, 0) 100%);
			background-color: transparent;
			backdrop-filter: blur(40px);
		}
	}

	&__logo {


		&--1 {
			margin: 0 24px 48px 0;
			width: 256px;
			height: 256px;
		}

		&--2 {
			margin-right: 24px;
			//width: 96px;
			height: 96px;
		}

		&--3 {
			height: 40px;
		}

		&--4 {
			display: flex;
			align-items: center;
			margin-bottom: 24px;
			font-weight: 700;
			font-size: vc(24);
			line-height: vc(32);
			letter-spacing: -1px;
			color: rgba(20, 16, 41, 0.8);

			img {
				margin-right: 8px;
				height: 39px;
			}
		}

		&--white {
			color: $color-white;
			background-color: #d8d8d8;

			@include isWhite {
				background: transparent;
			}
		}

		&--5 {
			display: flex;
			align-items: center;

			img {
				height: 40px;
			}
		}

		&--6 {

		}

		&--7 {

		}

		&--8 {

		}

		&--9 {

		}

		&--10 {

		}

		&--11 {

		}

		&--111 {

		}

		&--12 {

		}

		&--13 {

		}

		&--14 {

		}

		&--15 {

		}

		&--16 {

		}

		&--17 {

		}

		&--171 {

		}

		&--18 {

		}

		&--19 {

		}
	}

	&__color {
		display: flex;
		align-items: flex-end;
		border-radius: 40px;
		padding: 24px;
		font-family: $font-Gilroy;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: $color-white;

		span {
			display: block;
			font-family: $font-Montserrat;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			color: $color-white;
		}

		&--small {
			width: 200px;
			height: 300px;
		}

		&--line {
			width: 648px;
			height: 72px;
		}

		&--md {
			width: 424px;
			height: 300px;
		}

		&--1,
		&--7,
		&--11,
		&--16,
		&--171 {
			color: rgba(20, 16, 41, 0.6);

			span {
				color: rgba(20, 16, 41, 0.8);
			}
		}

		&--1 {
			background-color: #5fd1dc;
		}

		&--2 {
			background-color: #5b86ee;
		}

		&--3 {
			background-color: #1d20a3;
		}

		&--4 {
			background-color: #cf86fe;
		}

		&--5 {
			background-image: conic-gradient(from 0.25turn, #cf86fe, #1d20a3);
		}

		&--6 {
			background-image: linear-gradient(96deg, #5fd1dc, #5b86ee 52%, #1d20a3);
		}

		&--7 {
			background-color: #0fa;
		}

		&--8 {
			background-color: #0bf;
		}

		&--9 {
			background-color: #4579f5;
		}

		&--10 {
			background-color: #3d5b66;
		}

		&--11 {
			background-color: #e0e0ff;
		}

		&--111 {
			background-color: #212429;
		}

		&--12 {
			background-image: linear-gradient(96deg, #0fa, #0bf 53%, #4579f5);
		}

		&--13 {
			background-color: #0bf;
		}

		&--14 {
			background-color: #1da1f2;
		}

		&--15 {
			background-color: #4579f5;
		}

		&--16 {
			background-color: #99d8ff;
		}

		&--17 {
			background-color: #141029;
		}

		&--171 {
			background-color: #fff;
		}

		&--18 {
			background-image: linear-gradient(96deg, #0bf, #1da1f2 51%, #4579f5);
		}

		&--19 {
			margin-left: 441px;
			width: 424px;
			height: 72px;
			background-image: linear-gradient(to right, #99d8ff 0%, #0bf 100%);
		}
	}

	&__grays {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: rgba(20, 16, 41, 0.6);

		@include isWhite {
			color: rgba(224, 224, 255, 0.6);
		}
	}
}
