.brand {
	margin-top: vc(144);

	img {
		width: 100%;
		height: 100%;
		transform: translateZ(0);
	}

	&__top {
		margin-bottom: vc(76);
		border-bottom: solid 1px rgba(20, 16, 41, 0.24);
		padding-bottom: vc(47);

		@include isWhite {
			border-bottom: solid 1px rgba(224, 224, 255, 0.24);
		}

		@include mobile {
			margin-bottom: vc(25);
			padding-bottom: vc(23);
		}
	}

	&__info {
		@include desktop {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__title {
		font-weight: 600;
		font-size: vc(24);
		line-height: vc(32);
		letter-spacing: -1px;

		@include mobile {
			font-size: vc(20);
			line-height: vc(28);
			letter-spacing: -0.4px;
		}
	}

	&__download {
		display: inline-flex;
		align-items: center;
		border-radius: 12px;
		padding: vc(8) vc(16) vc(8) vc(8);
		font-weight: 600;
		font-size: vc(14);
		line-height: vc(20);
		background-color: #f5f7fa;

		svg {
			margin: 0 vc(8) 0 0;
			width: vc(24);
			height: vc(24);
		}

		&--icons {
			padding: vc(8) vc(24);

			svg {
				margin-right: 0;
			}
		}

		@include isWhite {
			background-color: #2d2f33;
		}

		@include mobile {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: vc(32);
			margin-bottom: vc(47);
			padding: vc(12);
			width: vc(296);
			font-size: vc(16);
			line-height: vc(24);

			&--icons {
				margin-top: 0;
				margin-bottom: 0;
				padding: vc(8);
				width: auto;
			}
		}
	}

	&__content {
		margin-top: vc(32);
		margin-bottom: vc(72);

		&--2 {
			margin-bottom: vc(24);
		}

		@include desktop {
			display: flex;
			justify-content: space-between;
		}

		@include mobile {
			margin: vc(16) vc(-24);

			&--2 {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				//margin: vc(16) vc(-24);
			}

			&--3,
			&--4,
			&--5 {
				margin-top: vc(-16);
				margin-bottom: vc(53);
			}

			&--5 {
				margin-bottom: vc(23);
			}
		}
	}

	&__logos {
		border-radius: 40px;
		padding: vc(24);
		box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
		background-color: #fff;

		&-in {
			display: flex;

			&--center {
				flex-flow: column;
				align-items: center;
				justify-content: center;

				@include mobile {
					margin-top: vc(20);
				}
			}

			@include desktop {
				height: vc(304);
			}
		}

		&-footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-text {
			font-weight: 600;
			font-size: vc(14);
			line-height: vc(20);
			color: rgba(20, 16, 41, 0.8);

			span {
				display: block;
				font-family: $font-Gilroy;
				font-weight: 500;
				font-size: vc(14);
				line-height: vc(20);
				color: rgba(20, 16, 41, 0.6);
			}

			@include isWhite {
				color: $color-white;

				span {
					color: $color-white;
				}
			}

			@include mobile {
				span {
					text-transform: uppercase;
				}

				@include isWhite {
					color: $color-white;

					span {
						color: rgba(224, 224, 255, 0.6);
					}
				}
			}
		}

		&--1 {
			@include desktop {
				width: vc(536);
				height: vc(392);
			}
		}

		&--2 {
			@include desktop {
				width: vc(424);
				height: vc(392);
			}
		}

		&--3 {
			@include desktop {
				width: vc(312);
				height: vc(392);
			}
		}

		@include isWhite {
			border: solid 1px rgba(245, 247, 250, 0.06);
			box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
			background-image: linear-gradient(126deg, rgba(245, 247, 250, 0.12), rgba(245, 247, 250, 0.06) 52%, rgba(245, 247, 250, 0) 100%);
			background-color: transparent;
			backdrop-filter: blur(40px);
		}

		@include mobile {
			margin-bottom: vc(8);
		}
	}

	&__logo {
		&--1 {
			margin: 0 vc(24) vc(48) 0;

			@include desktop {
				width: vc(256);
				height: vc(256);
			}

			@include mobile {
				margin: 0 vc(18) vc(17) 0;
				width: vc(120);
				height: vc(120);
			}
		}

		&--2 {
			margin-right: vc(24);

			@include desktop {
				width: vc(96);
				height: vc(96);
			}

			@include mobile {
				margin-right: vc(v);
				width: vc(64);
				height: vc(64);
			}
		}

		&--3 {
			@include desktop {
				width: vc(40);
				height: vc(40);
			}

			@include mobile {
				width: vc(36);
				height: vc(36);
			}
		}

		&--4 {
			display: flex;
			align-items: center;
			margin-bottom: vc(24);
			font-weight: 700;
			font-size: vc(24);
			line-height: vc(32);
			letter-spacing: -1px;
			color: rgba(20, 16, 41, 0.8);

			img {
				margin-right: vc(8);
				width: vc(39);
				height: vc(39);
			}

			@include mobile {
				&:last-child {
					margin-bottom: vc(35);
				}
			}
		}

		&--white {
			color: $color-white;
			background-color: #d8d8d8;

			@include isWhite {
				background: transparent;
			}
		}

		&--5 {
			display: flex;
			align-items: center;

			img {
				height: vc(40);
			}
		}

		&--6 {

		}

		&--7 {

		}

		&--8 {

		}

		&--9 {

		}

		&--10 {

		}

		&--11 {

		}

		&--111 {

		}

		&--12 {

		}

		&--13 {

		}

		&--14 {

		}

		&--15 {

		}

		&--16 {

		}

		&--17 {

		}

		&--171 {

		}

		&--18 {

		}

		&--19 {

		}
	}

	&__color {
		display: flex;
		align-items: flex-end;
		border-radius: 40px;
		padding: vc(24);
		font-family: $font-Gilroy;
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);
		color: $color-white;

		span {
			display: block;
			font-family: $font-Montserrat;
			font-weight: 600;
			font-size: vc(14);
			line-height: vc(20);
			color: $color-white;
		}

		&--small {
			width: vc(200);
			height: vc(300);
		}

		&--line {
			width: vc(648);
			height: vc(72);
		}

		&--md {
			width: vc(424);
			height: vc(300);
		}

		&--1,
		&--7,
		&--11,
		&--16,
		&--171 {
			color: rgba(20, 16, 41, 0.6);

			span {
				color: rgba(20, 16, 41, 0.8);
			}
		}

		&--1 {
			background-color: #5fd1dc;
		}

		&--2 {
			background-color: #5b86ee;
		}

		&--3 {
			background-color: #1d20a3;
		}

		&--4 {
			background-color: #cf86fe;
		}

		&--5 {
			background-image: conic-gradient(from 0.25turn, #cf86fe, #1d20a3);
		}

		&--6 {
			background-image: linear-gradient(96deg, #5fd1dc, #5b86ee 52%, #1d20a3);
		}

		&--7 {
			background-color: #0fa;
		}

		&--8 {
			background-color: #0bf;
		}

		&--9 {
			background-color: #4579f5;
		}

		&--10 {
			background-color: #3d5b66;
		}

		&--11 {
			background-color: #e0e0ff;
		}

		&--111 {
			background-color: #212429;
		}

		&--12 {
			background-image: linear-gradient(96deg, #0fa, #0bf 53%, #4579f5);
		}

		&--13 {
			background-color: #0bf;
		}

		&--14 {
			background-color: #1da1f2;
		}

		&--15 {
			background-color: #4579f5;
		}

		&--16 {
			background-color: #99d8ff;
		}

		&--17 {
			background-color: #141029;
		}

		&--171 {
			background-color: #fff;
		}

		&--18 {
			background-image: linear-gradient(96deg, #0bf, #1da1f2 51%, #4579f5);
		}

		&--19 {
			margin-left: vc(441);
			width: vc(424);
			height: vc(72);
			background-image: linear-gradient(to right, #99d8ff 0%, #0bf 100%);
		}

		@include mobile {
			margin-bottom: vc(8);

			&--1,
			&--2,
			&--3,
			&--4,
			&--7,
			&--8,
			&--9,
			&--10,
			&--11,
			&--111,
			&--13,
			&--14,
			&--15,
			&--16,
			&--17,
			&--171 {
				width: vc(168);
				height: vc(200);
			}

			&--5 {
				width: vc(344);
				height: vc(200);
			}

			&--6,
			&--12,
			&--18,
			&--19 {
				margin: 0 auto;
				width: vc(344);
				height: vc(48);
			}
		}
	}

	&__grays {
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(24);
		color: rgba(20, 16, 41, 0.6);

		@include isWhite {
			color: rgba(224, 224, 255, 0.6);
		}

		@include mobile {
			font-size: vc(14);
			line-height: vc(24);
		}
	}

	@include mobile {
		margin-top: vc(112);
	}
}
