.card {
	margin-top: vc(120);
	margin-bottom: vc(72);

	&__container {
		display: flex;

		@include mobile {
			flex-flow: column;
		}
	}

	&__left {
		margin-right: vc(24);
		border-radius: 40px;
		padding: vc(36) vc(8) vc(8);
		width: 536px;
		height: 966px;
		box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
		background-color: #fff;

		@include isWhite {
			border: solid 1px rgba(245, 247, 250, 0.06);
			box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
			background-image: linear-gradient(151deg, rgba(245, 247, 250, 0.12), rgba(245, 247, 250, 0.06) 52%, rgba(245, 247, 250, 0));
			background-color: transparent;
			backdrop-filter: blur(40px);
		}

		@include mobile {
			order: 2;
			margin-right: 0;
			padding: vc(20) vc(8) vc(8);
			width: 100%;
			height: auto;
		}
	}

	&__varifitaion {
		display: flex;
		align-items: center;
		margin: vc(4) vc(4) vc(4) 0;
		padding: 0 32px;
		font-weight: 600;
		font-size: vc(13);
		line-height: vc(16);
		color: #1da1f2;

		svg {
			margin: 0 0 0 vc(4);
			width: vc(24);
			height: vc(24);
		}

		@include isWhite {
			color: #0fa;
		}

		@include mobile {
			padding: 0 vc(16);
		}
	}

	&__title {
		margin-bottom: vc(36);
		padding: 0 vc(32);
		font-family: $font-Poppins;
		font-weight: 700;
		font-size: vc(30);
		line-height: vc(36);
		letter-spacing: -1px;

		@include mobile {
			margin-bottom: vc(20);
			padding: 0 vc(16);
			font-size: vc(24);
			line-height: vc(32);
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: vc(8);
		border-radius: 24px;
		padding: vc(16) vc(32);
		font-weight: 600;
		font-size: vc(14);
		line-height: vc(20);
		background-color: rgba(20, 16, 41, 0.04);

		&-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: vc(8);
			padding: 0 vc(32);
			font-weight: 600;
			font-size: vc(18);
			line-height: vc(24);
			letter-spacing: -0.4px;

			span {
				border-radius: 12px;
				padding: vc(4) vc(12);
				font-weight: 500;
				font-size: vc(13);
				line-height: vc(24);
				background-color: rgba(20, 16, 41, 0.04);

				@include isWhite {
					background-color: rgba(224, 224, 255, 0.04);
				}
			}

			@include mobile {
				margin-bottom: vc(4);
				padding: 0 vc(16);
			}
		}

		&-prev {
			span {
				display: block;
				font-weight: 500;
				font-size: vc(13);
				line-height: vc(16);
				color: rgba(20, 16, 41, 0.6);

				@include isWhite {
					color: rgba(224, 224, 255, 0.8);
				}
			}
		}

		&-right {
			display: flex;
			font-family: $font-Gilroy;

			span {
				display: block;
				width: vc(119);
				text-align: right;

				@include mobile {
					width: vc(79);
				}
			}
		}

		&--1 {
			padding: vc(30) vc(32);
		}

		&--black {
			margin-bottom: 0;
			flex-flow: column;
			background-color: rgba(235, 239, 245, 0.6);
			border-radius: 24px 24px 36px 36px;

			@include isWhite {
				background-color: rgba(9, 13, 20, 0.4);
			}
		}

		@include isWhite {
			background-color: rgba(224, 224, 255, 0.04);
		}

		@include mobile {
			padding: vc(18) vc(16);

			&--black {
				padding: vc(18) vc(16) vc(8);
			}
		}
	}

	&__navs {
		display: flex;
		margin: vc(42) vc(32) vc(22);
		border-bottom: solid 1px rgba(20, 16, 41, 0.12);

		.is-white & {
			border-bottom: solid 1px rgba(224, 224, 255, 0.12);
		}

		@include mobile {
			margin: vc(18) vc(16) vc(23);
		}
	}

	&__nav {
		border-bottom: 2px solid transparent;
		padding: vc(10) vc(16);
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(24);

		&.is-current {
			border-bottom-color: #1da1f2;
			font-weight: 600;

			@include isWhite {
				border-bottom-color: #0fa;
			}
		}
	}

	&__text {
		margin: 0 vc(32) vc(31);
		border-bottom: solid 1px rgba(20, 16, 41, 0.12);
		padding-bottom: vc(23);
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);

		.is-white & {
			border-bottom: solid 1px rgba(224, 224, 255, 0.12);
		}

		@include mobile {
			margin: 0 vc(16) vc(15);
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: vc(12);
		width: 100%;
		color: rgba(20, 16, 41, 0.6);
		font-family: $font-Gilroy;

		span {
			display: flex;
			font-family: $font-Gilroy;

			&.color {
				color: #1da1f2;

				@include isWhite {
					color: #0fa;
				}
			}
		}

		svg {
			width: vc(20);
			height: vc(20);
		}

		&--last {
			margin-top: vc(17);
			border-top: solid 1px rgba(20, 16, 41, 0.24);
			padding-top: vc(24);

			@include isWhite {
				border-top: solid 1px rgba(224, 224, 255, 0.24);
			}

			@include mobile {
				margin-top: vc(6);
				padding-top: vc(15);
			}
		}

		@include isWhite {
			color: rgba(224, 224, 255, 0.8);
		}

		@include mobile {
			margin-bottom: vc(8);
		}
	}

	&__right {
		display: flex;
		align-items: center;
		justify-content: center;
		border: solid 1px rgba(20, 16, 41, 0.24);
		border-radius: 40px;
		width: vc(760);
		height: vc(740);

		@include isWhite {
			border: solid 1px rgba(224, 224, 255, 0.24);
		}

		@include mobile {
			order: 1;
			margin-bottom: vc(7);
			padding: vc(47) vc(15);
			width: 100%;
			height: vc(344);

			img {
				max-width: 100%;
			}
		}
	}

	&__image {

	}

	@include mobile {
		margin-top: vc(89);
		margin-bottom: vc(8);
	}
}
