.card {
	margin-top: vc(120);
	margin-bottom: vc(72);

	&__container {
		display: flex;

		@include mobile {
			flex-flow: column;
		}
	}

	&__left {
		margin-right: vc(24);
		border-radius: 40px;
		padding: vc(36) vc(8) vc(8);
		width: vc(536);

		//height: 966px;
		box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
		background-color: #fff;

		@include isWhite {
			border: solid 1px rgba(245, 247, 250, 0.06);
			box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
			background-image: linear-gradient(151deg, rgba(245, 247, 250, 0.12), rgba(245, 247, 250, 0.06) 52%, rgba(245, 247, 250, 0));
			background-color: transparent;
			backdrop-filter: blur(40px);
		}

		@include mobile {
			order: 2;
			margin-right: 0;
			padding: vc(20) vc(8) vc(8);
			width: 100%;
			height: auto;
		}
	}

	&__varifitaion {
		display: flex;
		align-items: center;
		margin: vc(4) vc(4) vc(4) 0;
		padding: 0 vc(32);
		font-weight: 600;
		font-size: vc(13);
		line-height: vc(16);
		color: #1da1f2;

		svg {
			margin: 0 0 0 vc(4);
			width: vc(24);
			height: vc(24);
		}

		@include isWhite {
			color: #0fa;
		}

		@include mobile {
			padding: 0 vc(16);
		}
	}

	&__title {
		margin-bottom: vc(36);
		padding: 0 vc(32);
		font-family: $font-Poppins;
		font-weight: 700;
		font-size: vc(30);
		line-height: vc(36);
		letter-spacing: -1px;

		@include mobile {
			margin-bottom: vc(20);
			padding: 0 vc(16);
			font-size: vc(24);
			line-height: vc(32);
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: vc(8);
		border-radius: 24px;
		padding: vc(16) vc(32);
		font-weight: 600;
		font-size: vc(14);
		line-height: vc(20);
		background-color: rgba(20, 16, 41, 0.04);

		&-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: vc(8);
			padding: 0 vc(32);
			font-weight: 600;
			font-size: vc(18);
			line-height: vc(24);
			letter-spacing: -0.4px;

			span {
				border-radius: 12px;
				padding: vc(4) vc(12);
				font-weight: 500;
				font-size: vc(13);
				line-height: vc(24);
				background-color: rgba(20, 16, 41, 0.04);

				@include isWhite {
					background-color: rgba(224, 224, 255, 0.04);
				}
			}

			@include mobile {
				margin-bottom: vc(4);
				padding: 0 vc(16);
			}
		}

		&-prev {
			span {
				display: block;
				font-weight: 500;
				font-size: vc(13);
				line-height: vc(16);
				color: rgba(20, 16, 41, 0.6);

				@include isWhite {
					color: rgba(224, 224, 255, 0.8);
				}
			}
		}

		&-right {
			display: flex;
			font-family: $font-Gilroy;

			.card__info-offer {
				height: vc(24);
			}

			span {
				display: block;
				width: vc(119);
				text-align: right;

				@include mobile {
					width: vc(79);
				}
			}
		}

		&-left {
			display: flex;
			flex-flow: column;
			align-items: start;
		}

		&-right {
			.card__tab & {
				flex-flow: column;
				align-items: flex-end;
				@include mobile {
					white-space: nowrap;
					margin-left: vc(-115);
				}

				span {
					width: auto;
				}
			}
		}

		&-offer {
			display: flex;
			align-items: center;
			margin-bottom: vc(4);
			font-family: $font-Gilroy;
			font-weight: 700;
			font-size: vc(18);
			line-height: vc(24);

			span {
				display: block;
				margin: 0 vc(8);
				border-radius: 24px;
				padding: vc(4) vc(8);
				font-weight: 500;
				font-size: vc(13);
				line-height: vc(16);
				background: rgba(20, 16, 41, 0.04);

				.card__info-right & {
					//margin-right: 0;
				}

				@include isWhite {
					background: rgba(224, 224, 255, 0.04);
				}
			}

			//@include mobile {
			//	font-size: 18px;
			//	line-height: 24px;
			//
			//	span {
			//		font-size: 13px;
			//		line-height: 16px;
			//	}
			//}
		}

		&-from {
			display: flex;
			margin-right: vc(16);
			font-family: $font-Gilroy;
			font-weight: 500;
			font-size: vc(13);
			line-height: vc(16);
			color: rgba(20, 16, 41, 0.6);

			svg {
				width: vc(16);
				height: vc(16);
			}

			span {
				padding-left: vc(3);

				//font-family: $font-Montserrat;
				color: rgba(20, 16, 41, 0.8);
			}

			&:last-child {
				margin: 0;
			}

			@include isWhite {
				color: rgba(224, 224, 255, 0.8);

				span {
					color: $color-white;
				}
			}
		}

		&-collection {
			margin-bottom: vc(4);
			border-radius: vc(24);
			padding: vc(4) vc(8);
			font-weight: 600;
			font-size: vc(13);
			line-height: vc(16);
			color: #0bf;
			background: rgba(0, 187, 255, 0.03);




			@include isWhite {
				color: #00FFAA;
				background: rgba(0, 255, 170, 0.03);


				&--mint {
					color: #00b8b9;
					background: rgba(0, 184, 185, 0.06);
				}

				&--transfer {

				}

				&--sale {
					color: #9c42f5;
					background: rgba(156, 66, 245, 0.06);
				}

				&--list {
					color: #f0a;
					background: rgba(255, 0, 170, 0.06);
				}

				&--offer {
					color: #ff5e00;
					background: rgba(255, 94, 0, 0.06);
				}

				&--listing {
					color: #ffab00;
					background: rgba(255, 171, 0, 0.06);
				}

				&--coffer {
					color: #f54562;
					background: rgba(245, 69, 98, 0.06);
				}
			}
		}

		&-bottom {
			display: flex;
		}

		&--1 {
			padding: vc(30) vc(32);
		}

		&--black {
			flex-flow: column;
			margin-bottom: 0;
			border-radius: 24px 24px 36px 36px;
			background-color: rgba(235, 239, 245, 0.6);

			@include isWhite {
				background-color: rgba(9, 13, 20, 0.4);
			}
		}

		@include isWhite {
			background-color: rgba(224, 224, 255, 0.04);
		}

		@include mobile {
			padding: vc(18) vc(16);

			&--black {
				padding: vc(18) vc(16) vc(8);
			}
		}
	}

	&__navs {
		display: flex;
		margin: vc(42) vc(32) vc(22);
		border-bottom: solid 1px rgba(20, 16, 41, 0.12);

		.is-white & {
			border-bottom: solid 1px rgba(224, 224, 255, 0.12);
		}

		@include mobile {
			margin: vc(18) vc(16) vc(23);
		}
	}

	&__nav {
		border-bottom: 2px solid transparent;
		padding: vc(10) vc(16);
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(24);
		transition: all 0.5s $easing-smooth;
		cursor: pointer;

		&.is-current {
			border-bottom-color: #1da1f2;
			font-weight: 600;

			@include isWhite {
				border-bottom-color: #0fa;
			}
		}
	}

	&__text {
		margin: 0 vc(32) vc(31);
		border-bottom: solid 1px rgba(20, 16, 41, 0.12);
		padding-bottom: vc(23);
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);

		.is-white & {
			border-bottom: solid 1px rgba(224, 224, 255, 0.12);
		}

		@include mobile {
			margin: 0 vc(16) vc(15);
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: vc(12);
		width: 100%;
		font-family: $font-Gilroy;
		color: rgba(20, 16, 41, 0.6);

		span {
			display: flex;
			font-family: $font-Gilroy;

			&.color {
				color: #1da1f2;

				@include isWhite {
					color: #0fa;
				}
			}
		}

		svg {
			width: vc(20);
			height: vc(20);
		}

		&--last {
			margin-top: vc(17);
			border-top: solid 1px rgba(20, 16, 41, 0.24);
			padding-top: vc(24);

			@include isWhite {
				border-top: solid 1px rgba(224, 224, 255, 0.24);
			}

			@include mobile {
				margin-top: vc(6);
				padding-top: vc(15);
			}
		}

		@include isWhite {
			color: rgba(224, 224, 255, 0.8);
		}

		@include mobile {
			margin-bottom: vc(8);
		}
	}

	&__right {
		display: flex;
		align-items: center;
		justify-content: center;
		border: solid 1px rgba(20, 16, 41, 0.24);
		border-radius: 40px;
		width: vc(760);
		height: vc(740);

		@include isWhite {
			border: solid 1px rgba(224, 224, 255, 0.24);
		}

		@include mobile {
			order: 1;
			margin-bottom: vc(7);
			padding: vc(47) vc(15);
			width: 100%;
			height: vc(344);

			img {
				max-width: 100%;
			}
		}
	}

	&__image {

	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: vc(25);
		margin-bottom: vc(26);
	}

	&__activitys {
		display: flex;

		margin: vc(42) vc(32) vc(20);

		&-item {
			margin-right: vc(6);
			margin-bottom: vc(6);
			border: 2px solid transparent;
			border-radius: 12px;
			padding: vc(4 ) vc(10);
			font-weight: 500;
			font-size: vc(14);
			line-height: vc(24);
			background: rgba(20, 16, 41, 0.06);

			&.is-select {
				border: 2px solid rgba(20, 16, 41, 0.8);
				font-weight: 600;
			}

			@include isWhite {
				background: rgba(224, 224, 255, 0.06);

				&.is-select {
					border: 2px solid $color-white;
				}
			}

			@include mobile {
				white-space: nowrap;
			}
		}

		@include desktop {
			flex-wrap: wrap;
		}

		@include mobile {
			align-items: center;
			margin: vc(18) vc(16);
			overflow-y: hidden;
			overflow-x: auto;
			width: 98%;
		}
	}

	&__none {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		background: rgba(235, 239, 245, 0.6);
		border-radius: 32px;
		width: vc(520);
		height: vc(298);

		&-icon {
			padding: vc(4);
			width: vc(72);
			height: vc(72);
			background: linear-gradient(135deg, #FFFFFF 0%, #FAFBFC 51.82%, #F5F7FA 100%);
			box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.06), -4px -4px 8px rgba(255, 255, 255, 0.4), 8px 8px 24px rgba(9, 13, 20, 0.06);
			border-radius: 12px;

			img {

			}

			@include isWhite {
				background: linear-gradient(90deg, #3A3C42 0%, #2D3035 50.01%, #212429 100%);
				border: 1px solid rgba(245, 247, 250, 0.06);
				box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
				backdrop-filter: blur(40px);
			}
		}

		&-title {
			margin: vc(24) 0 vc(12);
			font-weight: 600;
			font-size: vc(18);
			line-height: vc(24);
		}

		&-description {
			margin-bottom: vc(26);
			font-weight: 500;
			font-size: vc(13);
			line-height: vc(16);
			color: rgba(20, 16, 41, 0.6);

			@include isWhite {
				color: rgba(224, 224, 255, 0.8);
			}
		}

		@include isWhite {
			background: rgba(9, 13, 20, 0.4);
		}

		@include mobile {
			width: vc(328);
			height: vc(294);
		}
	}

	@include mobile {
		margin-top: vc(89);
		margin-bottom: vc(8);
	}
}
