.doc-item {

	margin-top: vc(6);

	&__left {
		@include desktop {
			position: relative;
			flex-shrink: 0;
			margin-right: vc(96);
			width: vc(240);

			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				border-left: 1px solid rgba(20, 16, 41, 0.24);
				width: 1px;
				height: 100%;
			}
		}
	}

	&__nav {

	}

	&__link {
		display: block;
		border-left: 2px solid transparent;
		border-radius: 0 vc(24) vc(24) 0;
		padding: vc(6) vc(9) vc(6) vc(24);
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(24);

		&.is-list {

		}

		@include desktop {
			&:hover {
				border-left: 2px solid #0bf;
				background: rgba(20, 16, 41, 0.04);

				@include isWhite {
					border-left: 2px solid #0fa;
					background: #0fa;
				}
			}
		}
	}

	&__el {
		display: flex;
		align-items: center;
		justify-content: space-between;

		svg {
			width: vc(20);
			height: vc(20)
		}
	}

	&__list {
		display: none;
	}

	&__content {
		@include desktop {
			width: vc(760);
		}

		@include mobile {
			margin-top: 31px;
		}
	}

	&__ul {
		margin-top: vc(30);
		margin-left: vc(13);

		li {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: vc(28);

			&::before {
				content: "";
				margin-right: vc(16);
				border-radius: 50%;
				width: vc(6);
				height: vc(6);
				background: #0bf;

				@include isWhite {
					background: #0fa;
				}
			}

			a {
				border-bottom: 1px solid #0bf;
				font-weight: 600;
				font-size: vc(16);
				line-height: vc(15);
				color: #0bf;
				white-space: nowrap;

				@include isWhite {
					border-bottom: 2px solid #0fa;
					color: #0fa;
				}

				@include mobile {
					font-size: 14px;
					line-height: 13px;
				}
			}

			&:last-child {
				margin-bottom: vc(54);
			}

			@include mobile {
				margin-bottom: vc(23);
			}
		}

		@include mobile {
			margin: 27px 0px;
		}
	}

	&__image {
		margin-bottom: vc(48);

		img {
			border-radius: vc(24);
		}

		@include mobile {
			margin: 0 vc(-24) vc(83);
			height: 165px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__caption {
		margin-top: vc(8);
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(24);
		text-align: center;
		color: rgba(20, 16, 41, 0.6);

		@include isWhite {
			color: rgba(224, 224, 255, 0.6);
		}
	}

	&__ol {
		list-style-type: decimal;
		margin: vc(30) 0 vc(49);
		padding-left: vc(29);

		li {
			list-style-type: decimal;
			margin-bottom: vc(28);
			padding-left: vc(6);
			font-weight: 500;
			font-size: vc(16);
			line-height: vc(28);

			@include mobile {
				margin-bottom: 24px;
				font-size: 14px;
				line-height: 26px;
			}
		}

		@include mobile {
			margin: 19px -15px;
		}
	}

	&__insert {
		margin-bottom: vc(66);
		border-left: 2px solid #0bf;
		padding: vc(22) vc(34) 1px;

		@include isWhite {
			border-left: 2px solid #0fa;
		}

		@include mobile {
			padding: 25px 30px 1px;
			margin: 49px -32px;
		}
	}

	&__block {
		margin-top: vc(72);
		margin-bottom: vc(72);
		border-radius: vc(24);
		padding: vc(32) vc(36);
		background: rgba(20, 16, 41, 0.04);
		mix-blend-mode: normal;

		.title {
			margin-bottom: vc(20);

			@include mobile {
				margin-bottom: vc(26);
			}
		}

		@include isWhite {
			background: rgba(224, 224, 255, 0.04);
		}

		@include mobile {
			padding: vc(24) vc(28);
			margin: 0 vc(-24) vc(8);
		}
	}

	&__success {
		display: flex;
		align-items: flex-start;
		margin-bottom: vc(30);
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(28);

		svg {
			position: relative;
			top: 2px;
			margin-right: vc(11);
			width: vc(24);
			height: vc(24);
			color: #0bf;

			@include isWhite {
				color: #0fa;
			}

			@include mobile {
				margin-right: vc(7);
				left: -4px;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include desktop {
		display: flex;
		align-items: flex-start;
	}
}
