.explore {
	$self: &;

	display: flex;
	margin-top: 100px;

	&__left {
		overflow-wrap: break-word;
	}

	&__right {
		flex: 1;
		padding: 24px 68px 24px 24px;
		width: 100%;
	}

	&__filters {
		display: flex;
		border-bottom: solid 1px rgba(20, 16, 41, 0.12);

		.is-white & {
			border-bottom: solid 1px rgba(224, 224, 255, 0.12);
		}
	}

	&__filter {
		border-bottom: 2px solid transparent;
		padding: 10px 16px;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;

		&.is-current {
			border-bottom-color: #0fa;
			font-weight: 600;
		}
	}

	&__content {
		margin-top: 24px;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;


	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -1px;
	}

	&__select {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 12px;
		padding: 12px;
		width: 200px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		background-color: #f5f7fa;

		svg {
			width: 24px;
			height: 24px;
		}

		.is-white & {
			background-color: #2d2f33;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 15px;
	}

	&__col {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 24px;

		&--1 {
			width: 262px;
		}

		&--2 {
			width: 109px;
		}

		&--3 {
			width: 136px;
		}

		&--4 {
			width: 171px;
		}

		&--5 {
			width: 215px;
		}

		&--6 {
			width: 201px;
		}

		&--7 {
			flex: 1;
			display: flex;
			justify-content: flex-end;
		}

		&--3,
		&--4,
		&--5,
		&--6 {
			#{$self}__activ {
				&-text {
					font-family: $font-Gilroy;
				}
			}
		}
	}

	&__activ {
		&-item {
			display: flex;
			align-items: center;
			padding: 20px 0;
			margin-bottom: 8px;
			width: 100%;
			background: rgba(20, 16, 41, 0.04);
			border-radius: 24px;

			@include isWhite {
				background: rgba(224, 224, 255, 0.04);
			}
		}

		&-image {
			margin-right: 16px;
			width: 48px;
			height: 48px;

			img {
				width: 100%;
				height: 100%;
				border-radius: 12px;
			}
		}

		&-content {

		}

		&-text {
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;

			&--offer {

				color: #FF5E00;
			}

			&--list {
				color: #FF00AA;
			}
		}

		&-info {
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
			color: rgba(20, 16, 41, 0.6);

			@include isWhite {
				color: rgba(224, 224, 255, 0.6);

			}
		}

		&-icon {
			position: absolute;
			left: -4px;
			margin-right: 4px;
			width: 24px;
			height: 24px;
		}
	}
}

.select {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
	padding: 12px;
	width: 200px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	background-color: #f5f7fa;

	svg {
		width: 24px;
		height: 24px;
	}

	.is-white & {
		background-color: #2d2f33;
	}

	&--offer {
		margin: 0 auto 24px;
		padding: vc(6) vc(8) vc(6) vc(12);
		width: vc(456);
		font-weight: 600;
		font-size: vc(14);
		line-height: vc(24);
		background: rgba(20, 16, 41, 0.04);

		@include isWhite {
			background: rgba(224, 224, 255, 0.04);
		}

		@include mobile {
			width: 100%;
		}
	}
}

.filter {
	$self: &;

	position: sticky;
	left: 0;
	top: 100px;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	border-right: solid 1px rgba(20, 16, 41, 0.12);
	padding: 24px;
	width: 268px;
	height: 100vh;

	&::-webkit-scrollbar {
		display: none;
	}

	&__back {
		display: flex;
		align-items: center;
		border-radius: 12px;
		padding: 12px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		background-color: #f5f7fa;

		svg {
			margin: 0 12px 0 0;
			width: 24px;
			height: 24px;
			color: #1da1f2;

			.is-white & {
				color: #0fa;
			}
		}

		.is-white & {
			background-color: #2d2f33;
		}
	}

	&__buy {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 16px 0;
		border: solid 1px rgba(20, 16, 41, 0.12);
		border-radius: 12px;
		padding: 12px;
		width: 220px;
		height: 48px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;

		&-check {
			border-radius: 12px;
			padding: 2px;
			width: 40px;
			height: 24px;
			box-shadow: inset 8px 8px 40px 0 rgba(9, 13, 20, 0.06), inset -4px -4px 8px 0 rgba(255, 255, 255, 0.4), inset 0 1px 1px 0 rgba(9, 13, 20, 0.06);
			background-image: linear-gradient(to bottom, #ebeff5, #f5f7fa 53%, #fff);

			input {
				display: none;

				&:checked ~ span {
					transform: translateX(85%);
				}
			}

			span {
				display: block;
				border: solid 1px rgba(33, 36, 41, 0.06);
				border-radius: 50%;
				width: 20px;
				height: 20px;
				box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.06), -4px -4px 8px 0 rgba(255, 255, 255, 0.4), 0 1px 1px 0 rgba(9, 13, 20, 0.06);
				background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(250, 251, 252, 0.6) 52%, rgba(245, 247, 250, 0.4));
				transition: all 0.5s $easing-smooth;
				backdrop-filter: blur(40px);

				.is-white & {
					border: solid 1px rgba(245, 247, 250, 0.06);
					box-shadow: -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
					background-image: linear-gradient(to bottom, rgba(245, 247, 250, 0.24), rgba(245, 247, 250, 0.12) 52%, rgba(245, 247, 250, 0));
				}
			}

			.is-white & {
				box-shadow: none;
				background: rgba(9, 13, 20, 0.24);
			}
		}

		.is-white & {
			border: solid 1px rgba(224, 224, 255, 0.12);
		}
	}

	&__price {
		display: flex;
		align-items: center;
	}

	&__input {
		flex-shrink: 0;
		margin: 0 4px 0 0;
		border: solid 1px rgba(20, 16, 41, 0.12);
		width: 90px;
		height: 48px;

		input {
			outline: none;
			border: none;
			padding: 13px 16px 11px;
			width: 100%;
			height: 100%;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			background: transparent;

			.is-white & {
				color: $color-white;
			}
		}

		&--1 {
			border-radius: 10px 0 0 10px;
		}

		&--2 {
			margin-right: 12px;
			border-radius: 0 10px 10px 0;
		}

		.is-white & {
			border: solid 1px rgba(224, 224, 255, 0.12);
		}
	}

	&__icon {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
	}

	&__collections {
		margin: 0 -24px;
		padding: 0 16px;
		background-color: #fafbfc;

		&-button {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
			margin-bottom: 20px;
			border-bottom: solid 1px rgba(20, 16, 41, 0.12);
			padding: 24px 0;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;

			svg {
				margin-right: 12px;
				width: 24px;
				height: 24px;
			}

			span {
				display: flex;
				align-items: center;
			}

			.arrow {
				margin-right: 0;
			}

			.is-white & {
				border-bottom: solid 1px rgba(224, 224, 255, 0.12);
			}
		}

		&-list {

		}

		&-more {
			margin-left: -8px;
			border-radius: 12px;
			padding: 6px 0;
			width: 236px;
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: $color-white;
			background-color: #1da1f2;

			.is-white & {
				background-color: #00b8b9;
			}
		}

		.is-white & {
			background-color: #282a2e;
		}
	}

	&__activitys {
		display: flex;
		margin: 20px 0;

		&-item {
			margin-right: vc(6);
			margin-bottom: vc(6);
			border: 2px solid transparent;
			border-radius: 12px;
			padding: vc(4) vc(10);
			font-weight: 500;
			font-size: vc(14);
			line-height: vc(24);
			background: rgba(20, 16, 41, 0.06);

			&.is-select {
				border: 2px solid rgba(20, 16, 41, 0.8);
				font-weight: 600;
			}

			@include isWhite {
				background: rgba(224, 224, 255, 0.06);

				&.is-select {
					border: 2px solid $color-white;
				}
			}

			@include mobile {
				white-space: nowrap;
			}
		}

		@include desktop {
			flex-wrap: wrap;
		}

		@include mobile {
			align-items: center;
			margin: vc(18) vc(16);
			overflow-y: hidden;
			overflow-x: auto;
			width: 98%;
		}
	}

	.is-white & {
		border-right: solid 1px rgba(224, 224, 255, 0.12);
	}
}

.card-collections {
	$self: &;

	display: flex;
	margin-bottom: 8px;
	margin-left: -4px;
	border-radius: 12px;
	padding: 4px;
	background-color: #fff;

	&__image {
		flex-shrink: 0;

		img {
			margin: 0 12px 0 0;
			border-radius: 12px;
			width: 48px;
			height: 48px;
			object-fit: contain;
		}
	}

	&__content {

	}

	&__title {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&__numbers {
		display: flex;
		font-size: 13px;
		line-height: 16px;

		span {
			padding-right: 4px;
			color: rgba(20, 16, 41, 0.6);

			.is-white & {
				color: rgba(224, 224, 255, 0.6);
			}
		}
	}

	&__floor {
		margin-left: 20px;
	}

	.is-white & {
		background-color: #2d2f33;
	}
}

.item-collections {
	$self: &;

	margin-bottom: 16px;
	border-radius: 40px;
	padding: 8px 8px 22px;
	width: 312px;
	height: 444px;
	box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
	background-image: linear-gradient(145deg, rgba(245, 247, 250, 0.12), rgba(245, 247, 250, 0.06) 52%, rgba(245, 247, 250, 0));
	backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);

	&__top {

	}

	&__image {
		margin-bottom: 20px;

		img {
			border-radius: 30px;
		}
	}

	&__name {
		display: flex;
		padding: 0 15px;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		color: rgba(20, 16, 41, 0.6);

		svg {
			width: 20px;
			height: 20px;
		}

		.is-white & {
			color: rgba(224, 224, 255, 0.6);
		}
	}

	&__title {
		padding: 0 15px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin: 15px 0 0;
		border-top: solid 1px rgba(224, 224, 255, 0.12);
		padding: 16px 15px 0;
	}

	&__price {
		font-family: $font-Gilroy;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		cursor: pointer;

		&:hover {
			#{$self}__connect {
				display: block;
			}

			#{$self}__money {
				display: none;
			}
		}
	}

	&__money {

	}

	&__connect {
		display: none;
		text-transform: uppercase;
	}

	&__more {
		width: 24px;
		height: 24px;
		cursor: pointer;
	}

	.is-white & {
		border: solid 1px rgba(245, 247, 250, 0.06);
		box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
	}


}
