footer.footer
	.footer__container
		a.footer__logo(href="/")
			img(src="../images/00_logo/plutus_mark.png" srcset="../images/00_logo/plutus_mark@2x.png" alt="logo")
			| plutus.art
		ul.footer__nav
			li
				a.footer__link(href="#" target="_blank")
					| Explore

			li
				a.footer__link.js-to-anchor(href="")
					| Collections
			li
				a.footer__link.js-to-anchor(href="")
					| Rewards
		.social.social--footer
			a.social__link.social__link--twitter(href="#")
				span
					+svg('twitter')
			a.social__link.social__link--instagramm(href="#")
				span
					+svg('instagram')
			a.social__link.social__link--discord(href="#")
				span
					+svg('discord')
		.footer__copy
			span
				span.footer__copy-text
					| made by
				a(href='https://roobinium.io' target='_blank' rel='external nofollow') roobinium.io

			.footer__copyright
				| &copy;&nbsp;2022&nbsp;Plutus, All rights reserved.
include popups
