header.header(data-aos="fade-down" data-aos-delay="100")
	.header__container.header__container--plug
		.header__left
			a.header__logo(href="/")
				img(src="../images/00_logo/plutus_mark.png" srcset="../images/00_logo/plutus_mark@2x.png" alt="logo")
				| plutus.art
		.header__right
			.header__switch.js-switch
				+svg('moon')
				+svg('moon_f')

