section.section.brand
	.section__container
		.brand__top
			.title.title--sm Brand Assets
		.brand__info
			.brand__title
				| Logo
			a.brand__download(href="../all.zip" download).for-desktop
				+svg('file-download')
				| Download all
		.brand__content.brand__content--1
			.brand__logos.brand__logos--1
				.brand__logos-in
					.brand__logo.brand__logo--1
						img(src="../images/plug/01_image/@2x/logo@2x.png" alt="logo")
					.brand__logo.brand__logo--2
						img(src="../images/plug/01_image/@2x/logo@2x.png" alt="logo")
					.brand__logo.brand__logo--3
						img(src="../images/plug/01_image/@2x/logo@2x.png" alt="logo")

				.brand__logos-footer
					.brand__logos-text
						| 00_mark
						span 1 logo, 3 sizes, png
					a.brand__download(href="../00_mark.zip" download).for-desktop
						+svg('file-download')
						| Download zip
					a.brand__download.brand__download--icons(href="../00_mark.zip" download).for-mobile
						+svg('file-download')
			.brand__logos.brand__logos--2
				.brand__logos-in.brand__logos-in--center

					.brand__logo.brand__logo--4.brand__logo--white
						img(src="../images/plug/01_image/@2x/logo@2x.png" alt="logo")
						| plutus.art
					.brand__logo.brand__logo--4
						img(src="../images/plug/01_image/@2x/logo@2x.png" alt="logo")
						| plutus.art
				.brand__logos-footer
					.brand__logos-text
						| 01_mark+sign
						span 1 logo, dark and light, png
					a.brand__download(href="../01_mark+sign.zip" download).for-desktop
						+svg('file-download')
						| Download zip
					a.brand__download.brand__download--icons(href="../01_mark+sign.zip" download).for-mobile
						+svg('file-download')
			.brand__logos.brand__logos--3
				.brand__logos-in.brand__logos-in--center

					.brand__logo.brand__logo--4.brand__logo--white

						| plutus.art
					.brand__logo.brand__logo--4

						| plutus.art
				.brand__logos-footer
					.brand__logos-text
						| 02_sign
						span 1 logo, dark and light, png
					a.brand__download.brand__download--icons(href="../02_sign.zip" download)
						+svg('file-download')

		a.brand__download(href="../all.zip" download).for-mobile
			+svg('file-download')
			| Download all
		.brand__info
			.brand__title
				| Logo gradient colors
			a.brand__grays
				| 4 colors, 1 gradients
		.brand__content.brand__content--2
			.brand__color.brand__color--1.brand__color--small
				.brand__color-text
					span 00_vitraya
					| #5FD1DC
			.brand__color.brand__color--2.brand__color--small
				.brand__color-text
					span 01_royal_fade
					| #5B86EE
			.brand__color.brand__color--3.brand__color--small
				.brand__color-text
					span 02_indigo
					| #1D20A3
			.brand__color.brand__color--4.brand__color--small
				.brand__color-text
					span 03_pink
					| #CF86FE
			.brand__color.brand__color--5.brand__color--md

		.brand__content.brand__content--3
			.brand__color.brand__color--6.brand__color--line

		.brand__info
			.brand__title
				| Dark UI colors
			a.brand__grays
				| 6 colors, 1 gradient
		.brand__content.brand__content--2
			.brand__color.brand__color--7.brand__color--small
				.brand__color-text
					span 00_wave
					| #00FFAA
			.brand__color.brand__color--8.brand__color--small
				.brand__color-text
					span 01_bluebird
					| #00BBFF
			.brand__color.brand__color--9.brand__color--small
				.brand__color-text
					span 02_royal
					| #4579F5
			.brand__color.brand__color--10.brand__color--small
				.brand__color-text
					span 04_teal
					| #3D5B66
			.brand__color.brand__color--11.brand__color--small
				.brand__color-text
					span 05_text_d
					| #E0E0FF
			.brand__color.brand__color--111.brand__color--small
				.brand__color-text
					span 06_bg_d
					| #212429
		.brand__content.brand__content--4
			.brand__color.brand__color--12.brand__color--line
		.brand__info
			.brand__title
				| Light UI colors
			a.brand__grays
				| 6 colors, 2 gradients
		.brand__content.brand__content--2
			.brand__color.brand__color--13.brand__color--small
				.brand__color-text
					span 00_bluebird
					| #00BBFF
			.brand__color.brand__color--14.brand__color--small
				.brand__color-text
					span 01_twitter
					| #1DA1F2
			.brand__color.brand__color--15.brand__color--small
				.brand__color-text
					span 02_royal
					| #4579F5
			.brand__color.brand__color--16.brand__color--small
				.brand__color-text
					span 03_bluebird_light
					| 03_bluebird_light
			.brand__color.brand__color--17.brand__color--small
				.brand__color-text
					span 04_text_l
					| #4579F5
			.brand__color.brand__color--171.brand__color--small
				.brand__color-text
					span 05_white
					| #FFFFFF
		.brand__content.brand__content--2.brand__content--5
			.brand__color.brand__color--18.brand__color--line
		.brand__content.brand__content--4
			.brand__color.brand__color--19.brand__color--lines
