section.card

		.card__container.section__container
			.card__left
				.card__varifitaion
					| White Sands Parcel Pass
					+svg('verified_f')
				.card__title
					| Genesis Parcel Pass
				.card__info.card__info--1
					div
						| Top Offer
						| 0.361 ETH
					div
						| Unlisted
				.card__navs
					.card__nav.is-current
						| About
					.card__nav
						| Offers
					.card__nav
						| Activity
				.card__tabs
					.card__tab
						.card__text
							| This is one of 3,000 Genesis Parcel Passes. It grants the holder access to a private islet as well as a variety of other membership benefits inside the White Sands metaverse.
						.card__info-top
							| Properties
							span
								| Rank N/A
						.card__info
							.card__info-prev
								span Coordinates
								| 6640 66 3709
							.card__info-right
								| -
								span 1 (0.03%)
						.card__info
							.card__info-prev
								span Mystery resource
								| ???
							.card__info-right
								| 0.6399
								span 104 (3.47%)
						.card__info
							.card__info-prev
								span Coordinates
								| World Map
							.card__info-right
								| 0.6399
								span 60 (2.0%)
						.card__info.card__info--black
							.card__item
								| Token ID
								span
									| 2505
							.card__item
								| Contract
								span.color
									| 0x…F4AD
									+svg('external')
							.card__item
								| Blockchain
								span Ethereum
							.card__item
								| Token Standard
								span ERC721
							.card__item.card__item--last
								| Creator Royalties
								span
									| 5.0%
									+svg('question')
			.card__right
				.card__image
					img(src="../images/05_card/image.jpg")


