section.section--team
	.section__container.section__container--team
		.doc-item
			.doc-item__left
				.doc-item__nav
					a.doc-item__link(href="")
						| Welcome
					.doc-item__link.is-list
						.doc-item__el
							| Getting Started
							+svg('chevron_down')
						ul.doc-item__list
							li
								a.doc-item__link(href="") Installing a wallet
							li
								a.doc-item__link(href="") Connecting your wallet
							li
								a.doc-item__link(href="") Creating your profile
					.doc-item__link.is-list
						.doc-item__el
							| Buying NFTs
							+svg('chevron_down')
						ul.doc-item__list
							li
								a.doc-item__link(href="") 1
							li
								a.doc-item__link(href="") 2
							li
								a.doc-item__link(href="") 3
					.doc-item__link.is-list
						.doc-item__el
							| Selling NFTs
							+svg('chevron_down')
						ul.doc-item__list
							li
								a.doc-item__link(href="") 1
							li
								a.doc-item__link(href="") 2
							li
								a.doc-item__link(href="") 3
			.doc-item__content
				.title.title--md.mb-1
					| Welcome
				p.text.text--p
					| A	merry little surge of electricity piped by automatic alarm from the mood organ 		beside his bed awakened Rick Deckard. Surprised — it always surprised him to find himself awake without prior notice — he rose from the bed, stood up in his multicolored pajamas, and stretched. Now, in her bed, his wife Iran opened her gray, unmerry eyes, blinked, then groaned and shut her eyes again.
				p.text.text--p.mb-2
					| After a hurried breakfast — he had lost time due to the discussion with his wife — he ascended clad for venturing out, including his Ajax model Mountibank Lead Codpiece, to the covered roof pasture whereon his electric sheep "grazed." Whereon it, sophisticated piece of hardware that it was, chomped away in simulated contentment, bamboozling the other tenants of the building.
				.title.title--sm
					| Getting Started
				ul.doc-item__ul
					li
						a Installing a wallet
					li
						a Connecting your wallet
					li
						a Creating your profile
				.title.title--sm
					| Buying NFTs
				ul.doc-item__ul
					li
						a Buying a fixed price NFT
					li
						a Making a collection offer
					li
						a Making an offer on an NFT
				.title.title--sm
					| Selling NFTs
				ul.doc-item__ul
					li
						a Accepting an offer on your NFT
					li
						a Listing an NFT for sale for a fixed price
				.doc-item__image
					img(src="../images/image.png")
					.doc-item__caption
						| Dreadfully distinct
				.title.title--doc
					| What was your most shameful moment?
				ol.doc-item__ol
					li
						| In the early morning light the land below him extended seemingly forever, gray
						| and refuse-littered.
					li
						|Pebbles the size of houses had rolled to a stop next to one another and he thought, It's like a shipping room when all the merchandise has left. Only fragments of crates remain, the containers which signify nothing in themselves.
					li
						|Once, he thought, crops grew here and animals grazed. What a remarkable thought, that anything could have cropped grass here.
				.doc-item__insert
					.title.title--insert.mb-3
						| White fountain ⛲️
					p.text.text--p
						| Is it pure white or a metaphor? How did the white Fountain makes you feel?
						| A tall white fountain played. When you were little did you ever fall into a Fountain?
						| A system of cells. Do you like fire, earth, air or water? And dreadfully distinct.

				.title.title--sm
					| A blood black nothing began to spin
				.title.title--doc
					| Do you get pleasure out of being a part of the system?
				p.text.text--p
					| What a strange place he thought for all of that to die. He brought the hovercar down, coasted above the surface:
				ul.doc-item__ul
					li
						| in one sense I'm now the greatest bounty hunter;
					li
						| who ever lived;
					li
						| no one ever retired six Nexus-6;
					li
						| in one twenty-four-hour span and no one probably ever will again.
				.doc-item__block
					.title.title--insert
						| Summary
					.doc-item__success
						+svg('check')
						| In the API call, include the charge ID to refund.
					.doc-item__success
						+svg('check')
						| To refund an amount different than the full charge amount, include the amount parameter and enter the amount to refund.
					.doc-item__success
						+svg('check')
						| Run the API call.
