.explore
	.explore__left
		.filter
			.filter__back
				+svg('arrow_left')
				| Explore
			.filter__buy
				| Buy now
				label.filter__buy-check
					input(type="checkbox")
					span
			.filter__price
				.filter__input.filter__input--1
					input(type="text")
				.filter__input.filter__input--2
					input(type="text")
				.filter__icon
					+svg('ethereum')
			.filter__activitys.is-hidden
				.filter__activitys-item.is-select
					| Mint
				.filter__activitys-item
					| Transfer
				.filter__activitys-item
					| Sale
				.filter__activitys-item
					| List
				.filter__activitys-item
					| Offer
				.filter__activitys-item
					| Cancel listing
				.filter__activitys-item
					| Cancel offer
			.filter__collections
				.filter__collections-button
					span
						+svg('list')
						| Collection
					+svg('chevron_down').arrow
				.filter__collections-list
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_1@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_1@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_2@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_3@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_4@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_2@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_3@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_4@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
				.filter__collections-more
					| Load more

	.explore__right
		.explore__filters
			.explore__filter.is-current(data-index="1")
				| Items
			.explore__filter(data-index="2")
				| Activity
		.explore__content
			.explore__info
				.explore__title
					| Items
				.explore__select
					| Recent activity
					+svg('chevron_down')
			.explore__items.is-active(data-tab="1")
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_1@2x.jpg")
						.item-collections__name
							| Moonbird
							+svg('verified_f')
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_2@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_3@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_4@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_4@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_3@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_2@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_1@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
			.explore__items.is-hidden(data-tab="2")
				.explore__activ-item
					.explore__col.explore__col--1
						.explore__activ-image
							img(src="../images/image.png")
						.explore__activ-content
							.explore__activ-text
								| CloneX
							.explore__activ-info
								| 12 minutes ago
					.explore__col.explore__col--2
						.explore__activ-content
							.explore__activ-text.explore__activ-text--offer
								| Offer
							.explore__activ-info
								| type
					.explore__col.explore__col--3
						.explore__activ-content
							.explore__activ-text
								| C1D736g4
							.explore__activ-info
								| from
					.explore__col.explore__col--4
						.explore__activ-content
							.explore__activ-text
								| 19,275 items
							.explore__activ-info
								| to
					.explore__col.explore__col--5
						.explore__activ-content
							.explore__activ-text
								| 7 minutes ago
							.explore__activ-info
								| expiring
					.explore__col.explore__col--6
						.explore__activ-content
							.explore__activ-icon
								img(src="../images/ethereum.png")
							.explore__activ-text
								| 12.0117
							.explore__activ-info
								| 16% below floor
					.explore__col.explore__col--7
						.button.button--buy
							.button__inner
								| Buy
				.explore__activ-item
					.explore__col.explore__col--1
						.explore__activ-image
							img(src="../images/image.png")
						.explore__activ-content
							.explore__activ-text
								| CloneX
							.explore__activ-info
								| 12 minutes ago
					.explore__col.explore__col--2
						.explore__activ-content
							.explore__activ-text.explore__activ-text--list
								| list
							.explore__activ-info
								| type
					.explore__col.explore__col--3
						.explore__activ-content
							.explore__activ-text
								| C1D736g4
							.explore__activ-info
								| from
					.explore__col.explore__col--4
						.explore__activ-content
							.explore__activ-text
								| 19,275 items
							.explore__activ-info
								| to
					.explore__col.explore__col--5
						.explore__activ-content
							.explore__activ-text
								| 7 minutes ago
							.explore__activ-info
								| expiring
					.explore__col.explore__col--6
						.explore__activ-content
							.explore__activ-icon
								img(src="../images/ethereum.png")
							.explore__activ-text
								| 12.0117
							.explore__activ-info
								| 16% below floor
					.explore__col.explore__col--7
				.explore__activ-item
					.explore__col.explore__col--1
						.explore__activ-image
							img(src="../images/image.png")
						.explore__activ-content
							.explore__activ-text
								| CloneX
							.explore__activ-info
								| 12 minutes ago
					.explore__col.explore__col--2
						.explore__activ-content
							.explore__activ-text.explore__activ-text--offer
								| Offer
							.explore__activ-info
								| type
					.explore__col.explore__col--3
						.explore__activ-content
							.explore__activ-text
								| C1D736g4
							.explore__activ-info
								| from
					.explore__col.explore__col--4
						.explore__activ-content
							.explore__activ-text
								| 19,275 items
							.explore__activ-info
								| to
					.explore__col.explore__col--5
						.explore__activ-content
							.explore__activ-text
								| 7 minutes ago
							.explore__activ-info
								| expiring
					.explore__col.explore__col--6
						.explore__activ-content
							.explore__activ-icon
								img(src="../images/ethereum.png")
							.explore__activ-text
								| 12.0117
							.explore__activ-info
								| 16% below floor
					.explore__col.explore__col--7
						.button.button--buy
							.button__inner
								| Buy
				.explore__activ-item
					.explore__col.explore__col--1
						.explore__activ-image
							img(src="../images/image.png")
						.explore__activ-content
							.explore__activ-text
								| CloneX
							.explore__activ-info
								| 12 minutes ago
					.explore__col.explore__col--2
						.explore__activ-content
							.explore__activ-text.explore__activ-text--list
								| list
							.explore__activ-info
								| type
					.explore__col.explore__col--3
						.explore__activ-content
							.explore__activ-text
								| C1D736g4
							.explore__activ-info
								| from
					.explore__col.explore__col--4
						.explore__activ-content
							.explore__activ-text
								| 19,275 items
							.explore__activ-info
								| to
					.explore__col.explore__col--5
						.explore__activ-content
							.explore__activ-text
								| 7 minutes ago
							.explore__activ-info
								| expiring
					.explore__col.explore__col--6
						.explore__activ-content
							.explore__activ-icon
								img(src="../images/ethereum.png")
							.explore__activ-text
								| 12.0117
							.explore__activ-info
								| 16% below floor
					.explore__col.explore__col--7
				.explore__activ-item
					.explore__col.explore__col--1
						.explore__activ-image
							img(src="../images/image.png")
						.explore__activ-content
							.explore__activ-text
								| CloneX
							.explore__activ-info
								| 12 minutes ago
					.explore__col.explore__col--2
						.explore__activ-content
							.explore__activ-text.explore__activ-text--offer
								| Offer
							.explore__activ-info
								| type
					.explore__col.explore__col--3
						.explore__activ-content
							.explore__activ-text
								| C1D736g4
							.explore__activ-info
								| from
					.explore__col.explore__col--4
						.explore__activ-content
							.explore__activ-text
								| 19,275 items
							.explore__activ-info
								| to
					.explore__col.explore__col--5
						.explore__activ-content
							.explore__activ-text
								| 7 minutes ago
							.explore__activ-info
								| expiring
					.explore__col.explore__col--6
						.explore__activ-content
							.explore__activ-icon
								img(src="../images/ethereum.png")
							.explore__activ-text
								| 12.0117
							.explore__activ-info
								| 16% below floor
					.explore__col.explore__col--7
						.button.button--buy
							.button__inner
								| Buy
				.explore__activ-item
					.explore__col.explore__col--1
						.explore__activ-image
							img(src="../images/image.png")
						.explore__activ-content
							.explore__activ-text
								| CloneX
							.explore__activ-info
								| 12 minutes ago
					.explore__col.explore__col--2
						.explore__activ-content
							.explore__activ-text.explore__activ-text--list
								| list
							.explore__activ-info
								| type
					.explore__col.explore__col--3
						.explore__activ-content
							.explore__activ-text
								| C1D736g4
							.explore__activ-info
								| from
					.explore__col.explore__col--4
						.explore__activ-content
							.explore__activ-text
								| 19,275 items
							.explore__activ-info
								| to
					.explore__col.explore__col--5
						.explore__activ-content
							.explore__activ-text
								| 7 minutes ago
							.explore__activ-info
								| expiring
					.explore__col.explore__col--6
						.explore__activ-content
							.explore__activ-icon
								img(src="../images/ethereum.png")
							.explore__activ-text
								| 12.0117
							.explore__activ-info
								| 16% below floor
					.explore__col.explore__col--7

