.explore
	.explore__left
		.filter
			.filter__back
				+svg('arrow_left')
				| Explore
			.filter__buy
				| Buy now
				label.filter__buy-check
					input(type="checkbox")
					span
			.filter__price
				.filter__input.filter__input--1
					input(type="text")
				.filter__input.filter__input--2
					input(type="text")
				.filter__icon
					+svg('ethereum')
			.filter__collections
				.filter__collections-button
					span
						+svg('list')
						| Collection
					+svg('chevron_down').arrow
				.filter__collections-list
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_1@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_1@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_2@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_3@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_4@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_2@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_3@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
					.card-collections
						.card-collections__image
							img(src="../images/plug/01_image/@2x/pattern_4@2x.jpg" alt="image")
						.card-collections__content
							.card-collections__title
								| Terraforms
								+svg('verified_f')
							.card-collections__numbers
								.card-collections__time
									span
										| 24h:
									| 12,757.22
								.card-collections__floor
									span
										| floor:
									| 0.49
				.filter__collections-more
					| Load more

	.explore__right
		.explore__filters
			.explore__filter.is-current
				| Items
			.explore__filter
				| Activity
		.explore__content
			.explore__info
				.explore__title
					| Items
				.explore__select
					| Recent activity
					+svg('chevron_down')
			.explore__items
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_1@2x.jpg")
						.item-collections__name
							| Moonbird
							+svg('verified_f')
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_2@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_3@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_4@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_4@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_3@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_2@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')
				.item-collections
					a.item-collections__top(href="")
						.item-collections__image
							img(src="../images/plug/01_image/@2x/picture_1@2x.jpg")
						.item-collections__name
							| Moonbird
						.item-collections__title
							| Guest “The Undead”
					.item-collections__bottom
						.item-collections__price
							.item-collections__money
								| 0.61 ETH
							.item-collections__connect
								| connect
						.item-collections__more
							+svg('more')

