section.section.section--team
	.section__container.section__container--team
		.title.title--sm
			| Plutus Team
		.team
			.team__content
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer
				.team__item
					.team__inner
						.team__image
							img(src="../images/people.jpg" alt="image")
							a.team__git(href=""  target="_blank")
								+svg('git_hub')
						.team__title
							| Vino Costa
						.team__description
							| Compiliance officer

