section.section.earn
	.section__container.section__container--df.section__container--center
		.earn__left
			.title.title--md(data-aos="fade-up" data-aos-delay="100")
				| Earn up to 167.75% APR with Plutus
			.text.text--md.text--earn(data-aos="fade-up" data-aos-delay="150")
				| Stake Plutus tokens to earn a share of daily trading fees in WETH, in addition to even more Plutus.
			.earn__bottom(data-aos="fade-up" data-aos-delay="200")
				a.button.button--earn(href="")
					.button__inner
						| Start Earning
				.icon.icon--question
					+svg('help_white')
					.label
						.label__title
							| Label
						.label__text
							| and blood-black nothingness began to spin. a system of cells interlinked, within cells interlinked, within cells interlinked.
		.earn__logo.for-desktop(data-aos="fade-left" data-aos-delay="100")
			img.js-lazy(data-src="../images/03_images/@2x/logo_light@2x.jpg" alt="image")
			img.js-lazy(data-src="../images/03_images/@2x/logo_dark@2x.jpg" alt="image")
		.earn__logo.for-mobile(data-aos="fade-up" data-aos-delay="100")
			img.js-lazy(data-src="../images/03_images/@2x/logo_m_light@2x.jpg" alt="image")
			img.js-lazy(data-src="../images/03_images/@2x/logo_m_dark@2x.jpg" alt="image")
